<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center">
  <h1 class="text-4xl font-bold mb-8">Watchr</h1>
  <div>
    <%= link_to "Log In", login_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4" %>
    <%= link_to "Sign Up", signup_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
